@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@using Fitability.Web.Models

<div class="row">
    <div class="col-6">
        <img src="images/banner-3840x1920.png" class="img-fluid" alt="banner" />
    </div>
    <div class="col-6 d-flex align-items-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">fitability™️</h1>
                <p class="text-center fs-2">your friendly fitness/workout activity tracking app</p>
            </div>
        </div>
    </div>
</div>

<AuthorizeView>
    <Authorized>
        <pre>
            @claims
        </pre>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string? claims;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var claims = authState.User.Claims.Select(p => new UserClaimModel { Issuer = p.Issuer, OriginalIssuer = p.OriginalIssuer, Type = p.Type, Value = p.Value }).ToList();
        this.claims = JsonSerializer.Serialize<List<UserClaimModel>>(claims, new JsonSerializerOptions() { WriteIndented = true });
    }
}